<header class="site-header">
  <div class="inner">
    <div class="site-logo">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Site Logo" />
    </div>

    <nav class="main-nav">
      <ul class="topbar-menu">
        <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{{ '/background/' | relative_url }}" class="{% if page.url contains '/posts/' %}active{% endif %}">Background</a></li>
        <li><a href="{{ '/capabilities/' | relative_url }}" class="{% if page.url contains '/posts/' %}active{% endif %}">Capabilities</a></li>
        <li><a href="{{ '/contact/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
