---
---

.header-wrapper {                     /* HEADER BAR */
  margin-left: 0;                     /* between header wrapper's left edge and body border */
  margin-right: 0;                    /* between header wrapper's right edge and body border */
  margin-bottom: 0;                   /* between header wrapper's bottom edge and navbar's top edge */
  padding: 2px;                       /* padding between logo/flag box and header wrapper */
  background-color: #0d4052;          /* header bar's background color */
  border-top: 3px solid #092935;      /* thickness & color of line over header bar */
  border-bottom: 3px solid #093339;   /* thickness & color of line under header bar */
  display: flex;
  justify-content: space-between;
}

.logo-box {
  padding-top: 6px;                    /* between logo and the logo box's top edge*/
  padding-left: 8px;                   /* between logo and the logo box's left edge*/
  padding-bottom: 8px;                 /* between logo and the logo box's bottom edge*/
  height: 50px;
}

.flag-box {
  padding-top: 2px;                   /* between flag and flag box's top edge*/
  padding-right: 2px;                 /* between flag and flag box's right edge*/
  padding-bottom: 2px;                /* between flag and flag box's bottom edge*/
  height: 20px;
}

.nav-wrapper {                           /* NAVIGATION BAR */
  margin-left: 0;                        /* between navbar's left edge and body border*/
  margin-right: 0;                       /* between navbar's right edge and body border */
  margin-bottom: 0;                      /* between navbar's bottom edge and beginning of content */
  background-color: #116671;             /* navbar's background color */
  border-bottom: 2px solid #0d4e57;      /* thickness & color of line under navbar */
  display: flex;
  flex-wrap: wrap;                       /* allows navbar to wrap if menu is too long */
  padding-top: 3px;                       /* between navbar's top edge and row of menu items */ 
  padding-left: 10px;                      /* between navbar's left edge and first menu item */ 
  padding-bottom: 4px;                    /* between navbar's bottom edge and row of menu items */ 
  padding-right: 5px;                     /* between navbar's right edge and last menu item */ 
  gap: 0 12px;                             /* between menu items - vertical and horizontal */
}

.nav-wrapper .menu-item {
  font-size: 18px;                               /* menu items font size */
  line-height: 1.5;                              /* menu items line height */
  color: #cfffea;                                /* menu items font color */
  font-family: 'Averia Libre', sans-serif;       /* menu items font */
  padding-top: 2px;                              /* vertical padding for each menu item */
  padding-bottom: 2px;                           /* vertical padding for each menu item */
  text-decoration: none;
}

.nav-wrapper .menu-item:hover {
  color: #cfffea;
  text-decoration: underline;
}

body {
  margin: 0;                             /* between the body and sides of the screen */
  font-family: 'Nunito', sans-serif;     /* default font */
  color: #283a44;                        /* default font color */
  font-size: 16px;                       /* default fontsize */
  line-height: 1;                        /* default line height*/
  background-color: #d8e2e8;             /* background color */
}

body a {
  color: #0070c0;                        /* default link color */
  text-decoration: underline;
}

body a:hover {
  color: #0f9ed5;                      /* default link hover color */
  text-decoration: underline;
}

.home {
  margin: 15px;
  padding: 8px 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  line-height: 1.25;
}

.home.eng {
  margin: 20px;
  padding: 8px 15px;
  color: #162736;
  background-color: #bbcddc;
  border-radius: 6px;
}

.home.lang {
  margin: 20px;
  padding: 8px 15px;
  color: #282030;
  background-color: #c5c8d7;
  border-radius: 6px;
}

.home.qa {
  margin: 20px;
  padding: 8px 15px;
  color: #2a3e39;
  background-color: #c2d3c6;
  border-radius: 6px;
}

.home.data {
  margin: 20px;
  padding: 8px 15px;
  color: #3b3603;
  background-color: #d8dcbc;
  border-radius: 6px;
}

.bg {
  margin: 15px 8px;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  font-size: 18px;
  line-height: 1.25;
}

table {
  margin: 10px 8px;
  width: calc(100% - 16px);
}

.table-bgheader {
  border: none;
}

.table-bgheader td {
  border: none;
  padding: 8px;
}

.table-bgheader td:nth-child(1) {
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

.table-bgheader td:nth-child(1) img {
  max-width: 100%;
  height: auto;
}

.table-bgheader td:nth-child(2) {
  text-align: left;
  vertical-align: middle;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}

.table-bgheader td:nth-child(3) {
  text-align: right;
  vertical-align: middle;
  width: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
}

.bg-indented {
  border-left: 3px solid #345c80;
  margin: 0 0 0 20px;
  padding: 0;
}

.bg-indented table {
  margin: 0;
}

.table-bgsub {
  border: none;
}

.table-bgsub td {
  border: none;
  padding: 8px;
}

.table-bgsub td:nth-child(1) {
  text-align: left;
  vertical-align: middle;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
  width: 100px;
}

.table-bgsub td:nth-child(2) {
  text-align: left;
  vertical-align: middle;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
}

.table-bgsub td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.table-bgsub td:nth-child(3) img {
  max-width: 100%;
  height: auto;
}
